
.people {
    display: grid;
    grid-template-columns: 100px 200px;
    grid-gap: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.people__info{
    display: grid;
    grid-template-rows: 2fr 3fr 2fr;
    align-items: start;
}

.peoples__fullname {
    font-size: 18px;
}

.peoples__location {
    font-size: 12px;
    font-style: italic;
}

.people__photo {
    width:100px;
}

.people__img {
    width: 100%;
    height: auto;
}

.people__btn button{
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 15px;
    background-color: blanchedalmond;
}