
.error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error__title {
    color: rgb(38, 21, 85);;
}

.error__img {
    margin: 0 auto;
    width: 70%;
    height: auto;
}