.member {
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.member__message {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgba(179, 244, 255, .2);
}

.member__text {
    font-style: italic;
}

.member__date {
    font-size: 14px;
    color: rgb(97, 97, 97);
}
