.header {
    background-color: antiquewhite;
    grid-area: h;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.header__logo {
  width: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "hi ht";
  align-items: center;
}

.header__text {
  grid-area: ht;
  padding: 0;
  margin: 0;
}

.header__img {
  grid-area: hi;
  width: 60px;
}

.imgBlock {
  display: block;
  width: 100%;
}

.header__login {
  text-decoration: none;
  color: black;
  cursor: pointer;
}