.navbar {
    grid-area: n;
    background-color: coral;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    height: 250px;
    padding-top: 40px;
  }

.navbar__link {
    text-decoration: none;
    color: black;
}

.navbar__link.active {
  color: white;
}
