.navbar {
  grid-area: n;
  background-color: rgb(201, 210, 238);
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(5, 50px);
  justify-items: center;
  height: 250px;
  padding: 0 0 40px;
  border: 1px solid rgb(230, 230, 230);
}