.pages {
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

.pages__item {
    margin-right: 5px;
    cursor: pointer;
}

.pages__title {
    padding-right: 5px;
}

.pages__active {
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}