.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__item{
    margin-bottom: 10px;
}

.form__check {
    display: flex;
    margin-bottom: 10px;
}

.form__remember{
    font-size: 14px;
}

.form__message {
    font-size: 14px;
    color: red;
    font-weight: bold;
}

.title {
    text-align: center;
}