body {
  background-color: rgba(241, 238, 252, 0.932);
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 70px 3fr;
  grid-template-areas:
    "h h"
    "n c";
}

.content {
  background-color: burlywood;
  grid-area: c;
  padding: 10px;
}